*.tab.c
*.tab.h
*.yy.c
birdie
*~
*.output
*.i
*.s
*.o
*.d
.cproject
.project
infoheader.h
.settings/
hack_doxy/
user_doxy/
user_dox/
tests/verification/outputs/
tests/verification/errors/
tests/verification/timeouts/
tests/verification/verification.log

